$small: 600;
$mHeight: calc(100dvh - 64px - 20px - 20px);

.wrapper {
	background-color: rgb(235, 233, 233);
	min-height: 100dvh;
	padding-bottom: 20px;
}

.main {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto 0;
	padding: 0 20px;
}

.layout {
	background-color: white;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 20px;
}

.upload {
	div,
	button {
		width: 100%;
	}
}

.layout {
	display: flex;
	flex-direction: row;
	min-height: 600px;
	border-radius: 15px;
	margin: auto;

	@media screen and (max-width: 1024px) {
		min-height: $mHeight;
	}
}
.menu {
	margin-top: 20px;
	padding-right: 10px;
	height: 100%;
}

.dashboardContainer {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	width: 100%;

	@media screen and (max-width: 600px) {
		grid-template-columns: 0.1fr 1fr;
	}
}
.container {
	width: 100%;
}
