.main {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 20px;
}

.wrapper {
	background-color: rgb(235, 233, 233);
	height: 100vh
}

.layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 600px;
	background: rgb(153, 0, 255);
	border-radius: 15px;
}
